<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <title>Tables</title>

    <link rel="stylesheet" href="./style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <br />
      <h1>My Table</h1>
      <div id="search"><div class="searchIcon">o</div></div>
      <!-- Our placeholder for the search bar -->
      <table id="table" class="sortable hoverable"></table>
    </div>
    <script type="text/javascript" src="./site.js"></script>
  </body>
</html>
